<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
       <ion-back-button color="primary" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center ion-text-uppercase">Eduardo Magalhães</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>



<ion-content >

<div class="contentChat ion-padding">



  


<ion-row><ion-col >
<div class="borderLine ion-text-left ion-padding ion-margin-top msgRecebida msg">   
   <p>eu tenho uma dúvida sobre meu pedido
  <small class="ion-padding-start">10:28</small> 
<ion-icon name="checkmark-circle-outline" class="ion-padding-start" ></ion-icon>
</p>
   </div>

  </ion-col></ion-row>

   <div class="borderLine ion-text-right  ion-padding  ion-margin-top msgEnviada msg">   
    <p>eu tenho uma dúvida sobre meu pedido
   <small class="ion-padding-start">10:28</small> 
 <ion-icon name="checkmark-circle-outline" class="ion-padding-start" ></ion-icon>
 </p>
    </div>
 


</div>


</ion-content>

<ion-footer> 
  
  <ion-item>
 
      <ion-input  placeholder="Digite sua mensagem" type="number"  name="title"></ion-input>


    <ion-button slot="end" fill="clear"  (click)="enviarMsg()" >
      <ion-icon  slot="icon-only" name="send-outline"></ion-icon>
    </ion-button>

</ion-item>


</ion-footer>
