
<ion-toolbar class="ion-margin" style="margin-right:60px;">
  <ion-searchbar cancelButtonText="Cancelar"   placeholder="Nome do Produto"></ion-searchbar>

</ion-toolbar>


<ion-content >

<div class="ion-margin">

  


<ion-item >
 

  <ion-label  (click)="irParaProduto()" class="ion-margin-start" >
  <p >Neosaldina</p>
  </ion-label>
</ion-item>
<ion-item >


  <ion-label  (click)="irParaProduto()"  class="ion-margin-start">
<p>Neosaldina</p>
  </ion-label>
</ion-item>


<br><br><br>
<h6 class="ion-margin-start">Buscas Recentes</h6>


<ion-item >
 

  <ion-label  (click)="irParaProduto()" class="ion-margin-start" >
<p >Neosaldina</p>
  </ion-label>
</ion-item>
<ion-item >


  <ion-label  (click)="irParaProduto()"  class="ion-margin-start">
<p>Neosaldina</p>
  </ion-label>
</ion-item>


</div>



</ion-content>
